<% layout("layouts/boilerplate") %>
<body>
    <h3>Edit your Listing</h3>
    <form action="/listing/<%= listing._id %>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value=" <%= listing.title %>" ><br><br>
        <textarea name="listing[description]"><%= listing.description %></textarea><br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>"><br><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>"><br><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>"><br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>"><br><br>
        <button>Edit</button>
    </form>
</body>
